<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtec.snmp.dao.NetElementCustomMapper" >
  <resultMap id="BaseResultMap" type="com.qtec.snmp.pojo.po.NetElement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ne_name" property="neName" jdbcType="VARCHAR" />
    <result column="ne_ip" property="neIp" jdbcType="VARCHAR" />
    <result column="corresponding_qnc_ip" property="correspondingQncIp" jdbcType="VARCHAR" />
    <result column="paring_qkd_ip" property="paringQkdIp" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="belong_group" property="belongGroup" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectBelongGroup" resultMap="BaseResultMap">
    select n1.id,n1.ne_name,n1.ne_ip,n1.corresponding_qnc_ip,n1.paring_qkd_ip,n1.type,n1.belong_group
     from net_element n1
    where n1.id =
    (select min(n2.id)
     from net_element n2
      where n1.belong_group= n2.belong_group);
  </select>
  <select id="selectChildren" resultMap="BaseResultMap">
    select n1.id,n1.ne_name,n1.ne_ip,n1.corresponding_qnc_ip,n1.paring_qkd_ip,n1.type,n1.belong_group
    from net_element n1
    where n1.belong_group = #{belongGroup};
  </select>
</mapper>