<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtec.snmp.dao.NetElementMapper" >
  <resultMap id="BaseResultMap" type="com.qtec.snmp.pojo.po.NetElement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ne_name" property="neName" jdbcType="VARCHAR" />
    <result column="ne_ip" property="neIp" jdbcType="VARCHAR" />
    <result column="corresponding_qnc_ip" property="correspondingQncIp" jdbcType="VARCHAR" />
    <result column="paring_qkd_ip" property="paringQkdIp" jdbcType="VARCHAR" />
    <result column="belong_group" property="belongGroup" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ne_name, ne_ip, corresponding_qnc_ip, paring_qkd_ip, belong_group
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qtec.snmp.pojo.po.NetElementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from net_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from net_element
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from net_element
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qtec.snmp.pojo.po.NetElementExample" >
    delete from net_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qtec.snmp.pojo.po.NetElement" >
    insert into net_element (id, ne_name, ne_ip, 
      corresponding_qnc_ip, paring_qkd_ip, belong_group
      )
    values (#{id,jdbcType=BIGINT}, #{neName,jdbcType=VARCHAR}, #{neIp,jdbcType=VARCHAR}, 
      #{correspondingQncIp,jdbcType=VARCHAR}, #{paringQkdIp,jdbcType=VARCHAR}, #{belongGroup,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qtec.snmp.pojo.po.NetElement" >
    insert into net_element
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="neName != null" >
        ne_name,
      </if>
      <if test="neIp != null" >
        ne_ip,
      </if>
      <if test="correspondingQncIp != null" >
        corresponding_qnc_ip,
      </if>
      <if test="paringQkdIp != null" >
        paring_qkd_ip,
      </if>
      <if test="belongGroup != null" >
        belong_group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="neName != null" >
        #{neName,jdbcType=VARCHAR},
      </if>
      <if test="neIp != null" >
        #{neIp,jdbcType=VARCHAR},
      </if>
      <if test="correspondingQncIp != null" >
        #{correspondingQncIp,jdbcType=VARCHAR},
      </if>
      <if test="paringQkdIp != null" >
        #{paringQkdIp,jdbcType=VARCHAR},
      </if>
      <if test="belongGroup != null" >
        #{belongGroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qtec.snmp.pojo.po.NetElementExample" resultType="java.lang.Integer" >
    select count(*) from net_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update net_element
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.neName != null" >
        ne_name = #{record.neName,jdbcType=VARCHAR},
      </if>
      <if test="record.neIp != null" >
        ne_ip = #{record.neIp,jdbcType=VARCHAR},
      </if>
      <if test="record.correspondingQncIp != null" >
        corresponding_qnc_ip = #{record.correspondingQncIp,jdbcType=VARCHAR},
      </if>
      <if test="record.paringQkdIp != null" >
        paring_qkd_ip = #{record.paringQkdIp,jdbcType=VARCHAR},
      </if>
      <if test="record.belongGroup != null" >
        belong_group = #{record.belongGroup,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update net_element
    set id = #{record.id,jdbcType=BIGINT},
      ne_name = #{record.neName,jdbcType=VARCHAR},
      ne_ip = #{record.neIp,jdbcType=VARCHAR},
      corresponding_qnc_ip = #{record.correspondingQncIp,jdbcType=VARCHAR},
      paring_qkd_ip = #{record.paringQkdIp,jdbcType=VARCHAR},
      belong_group = #{record.belongGroup,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qtec.snmp.pojo.po.NetElement" >
    update net_element
    <set >
      <if test="neName != null" >
        ne_name = #{neName,jdbcType=VARCHAR},
      </if>
      <if test="neIp != null" >
        ne_ip = #{neIp,jdbcType=VARCHAR},
      </if>
      <if test="correspondingQncIp != null" >
        corresponding_qnc_ip = #{correspondingQncIp,jdbcType=VARCHAR},
      </if>
      <if test="paringQkdIp != null" >
        paring_qkd_ip = #{paringQkdIp,jdbcType=VARCHAR},
      </if>
      <if test="belongGroup != null" >
        belong_group = #{belongGroup,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qtec.snmp.pojo.po.NetElement" >
    update net_element
    set ne_name = #{neName,jdbcType=VARCHAR},
      ne_ip = #{neIp,jdbcType=VARCHAR},
      corresponding_qnc_ip = #{correspondingQncIp,jdbcType=VARCHAR},
      paring_qkd_ip = #{paringQkdIp,jdbcType=VARCHAR},
      belong_group = #{belongGroup,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>