<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtec.snmp.dao.QncRateMapper" >
  <resultMap id="BaseResultMap" type="com.qtec.snmp.pojo.po.QncRate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="local_ip" property="localIp" jdbcType="VARCHAR" />
    <result column="pair_ip" property="pairIp" jdbcType="VARCHAR" />
    <result column="keyrate" property="keyrate" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="distinctQNTandPairQTNMap" type="com.qtec.snmp.pojo.po.QncRate">
    <result column="tn_ip" property="tnIp" jdbcType="VARCHAR" />
    <result column="pair_tn_ip" property="pairTnIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, local_ip, pair_ip, keyrate, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qtec.snmp.pojo.po.QncRateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qncrate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from qncrate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from qncrate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qtec.snmp.pojo.po.QncRateExample" >
    delete from qncrate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qtec.snmp.pojo.po.QncRate" >
    insert into qncrate (id, local_ip, pair_ip, 
      keyrate, time)
    values (#{id,jdbcType=BIGINT}, #{localIp,jdbcType=VARCHAR}, #{pairIp,jdbcType=VARCHAR}, 
      #{keyrate,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qtec.snmp.pojo.po.QncRate" >
    insert into qncrate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="localIp != null" >
        local_ip,
      </if>
      <if test="pairIp != null" >
        pair_ip,
      </if>
      <if test="keyrate != null" >
        keyrate,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="localIp != null" >
        #{localIp,jdbcType=VARCHAR},
      </if>
      <if test="pairIp != null" >
        #{pairIp,jdbcType=VARCHAR},
      </if>
      <if test="keyrate != null" >
        #{keyrate,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qtec.snmp.pojo.po.QncRateExample" resultType="java.lang.Integer" >
    select count(*) from qncrate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update qncrate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.localIp != null" >
        local_ip = #{record.localIp,jdbcType=VARCHAR},
      </if>
      <if test="record.pairIp != null" >
        pair_ip = #{record.pairIp,jdbcType=VARCHAR},
      </if>
      <if test="record.keyrate != null" >
        keyrate = #{record.keyrate,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update qncrate
    set id = #{record.id,jdbcType=BIGINT},
      local_ip = #{record.localIp,jdbcType=VARCHAR},
      pair_ip = #{record.pairIp,jdbcType=VARCHAR},
      keyrate = #{record.keyrate,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qtec.snmp.pojo.po.QncRate" >
    update qncrate
    <set >
      <if test="localIp != null" >
        local_ip = #{localIp,jdbcType=VARCHAR},
      </if>
      <if test="pairIp != null" >
        pair_ip = #{pairIp,jdbcType=VARCHAR},
      </if>
      <if test="keyrate != null" >
        keyrate = #{keyrate,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qtec.snmp.pojo.po.QncRate" >
    update qncrate
    set local_ip = #{localIp,jdbcType=VARCHAR},
      pair_ip = #{pairIp,jdbcType=VARCHAR},
      keyrate = #{keyrate,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="distinctQNTandPairQTN" resultMap="distinctQNTandPairQTNMap">
    SELECT DISTINCT local_ip ,pair_ip FROM qncrate;
  </select>
  <select id="distinctPairQTNIP" resultType="String">
    SELECT DISTINCT(pair_ip) FROM qncrate
    WHERE local_ip = #{QTNIP}
  </select>
</mapper>