<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idqqtec.nms.dao.AlarmMapper" >
  <resultMap id="BaseResultMap" type="com.idqqtec.nms.pojo.po.Alarm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="qkd_ip" property="qkdIp" jdbcType="VARCHAR" />
    <result column="qkd_runtime" property="qkdRuntime" jdbcType="VARCHAR" />
    <result column="alarm_time" property="alarmTime" jdbcType="TIMESTAMP" />
    <result column="alarm_ack" property="alarmAck" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type_id, qkd_ip, qkd_runtime, alarm_time, alarm_ack
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idqqtec.nms.pojo.po.AlarmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from alarm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from alarm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from alarm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idqqtec.nms.pojo.po.AlarmExample" >
    delete from alarm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idqqtec.nms.pojo.po.Alarm" >
    insert into alarm (id, type_id, qkd_ip, 
      qkd_runtime, alarm_time, alarm_ack
      )
    values (#{id,jdbcType=BIGINT}, #{typeId,jdbcType=INTEGER}, #{qkdIp,jdbcType=VARCHAR}, 
      #{qkdRuntime,jdbcType=VARCHAR}, #{alarmTime,jdbcType=TIMESTAMP}, #{alarmAck,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.idqqtec.nms.pojo.po.Alarm" >
    insert into alarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="qkdIp != null" >
        qkd_ip,
      </if>
      <if test="qkdRuntime != null" >
        qkd_runtime,
      </if>
      <if test="alarmTime != null" >
        alarm_time,
      </if>
      <if test="alarmAck != null" >
        alarm_ack,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="qkdIp != null" >
        #{qkdIp,jdbcType=VARCHAR},
      </if>
      <if test="qkdRuntime != null" >
        #{qkdRuntime,jdbcType=VARCHAR},
      </if>
      <if test="alarmTime != null" >
        #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmAck != null" >
        #{alarmAck,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idqqtec.nms.pojo.po.AlarmExample" resultType="java.lang.Integer" >
    select count(*) from alarm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update alarm
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.qkdIp != null" >
        qkd_ip = #{record.qkdIp,jdbcType=VARCHAR},
      </if>
      <if test="record.qkdRuntime != null" >
        qkd_runtime = #{record.qkdRuntime,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmTime != null" >
        alarm_time = #{record.alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.alarmAck != null" >
        alarm_ack = #{record.alarmAck,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update alarm
    set id = #{record.id,jdbcType=BIGINT},
      type_id = #{record.typeId,jdbcType=INTEGER},
      qkd_ip = #{record.qkdIp,jdbcType=VARCHAR},
      qkd_runtime = #{record.qkdRuntime,jdbcType=VARCHAR},
      alarm_time = #{record.alarmTime,jdbcType=TIMESTAMP},
      alarm_ack = #{record.alarmAck,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idqqtec.nms.pojo.po.Alarm" >
    update alarm
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="qkdIp != null" >
        qkd_ip = #{qkdIp,jdbcType=VARCHAR},
      </if>
      <if test="qkdRuntime != null" >
        qkd_runtime = #{qkdRuntime,jdbcType=VARCHAR},
      </if>
      <if test="alarmTime != null" >
        alarm_time = #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmAck != null" >
        alarm_ack = #{alarmAck,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idqqtec.nms.pojo.po.Alarm" >
    update alarm
    set type_id = #{typeId,jdbcType=INTEGER},
      qkd_ip = #{qkdIp,jdbcType=VARCHAR},
      qkd_runtime = #{qkdRuntime,jdbcType=VARCHAR},
      alarm_time = #{alarmTime,jdbcType=TIMESTAMP},
      alarm_ack = #{alarmAck,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>