<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
            ">
    <bean id="parameter" class="com.qtec.snmp.pojo.vo.Parameter">
        <property name="localTNIPOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.1.0"/>
        <property name="localTNPortOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.2.0"/>
        <property name="localTNNodeIdOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.3.0"/>
    </bean>
    <bean id="qkdIPEntry" class="com.qtec.snmp.pojo.vo.QKDIPEntry">
        <property name="parameterIndexOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.4.1.1"/>
        <property name="qkdIPParaOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.4.1.2"/>
        <property name="pairQKDIPOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.4.1.3"/>
        <property name="distanceOid" value=".1.3.6.1.4.1.8072.9999.9999.1.1.4.1.4"/>
    </bean>
    <bean id="notificationObjs" class="com.qtec.snmp.pojo.vo.NotificationObjs">
        <property name="qkdIPALMOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.1.0"/>
        <property name="alarmTypeOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.2.0"/>
        <property name="alarmSeverityOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.3.0"/>
        <property name="qkdIPRealOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.4.0"/>
        <property name="currentKeyRateOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.5.0"/>
        <property name="trustNodeIPOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.6.0"/>
        <property name="keyBufferOid" value=".1.3.6.1.4.1.8072.9999.9999.1.11.7.0"/>
    </bean>
</beans>