<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
            ">
    <bean id="trapXMLVo" class="com.idqqtec.nms.pojo.vo.TrapXMLVo">
        <property name="ip" value="192.168.100.147"/>
        <property name="port" value="162"/>
    </bean>
</beans>