<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idqqtec.dess.dao.TNRelationMapper" >
  <resultMap id="BaseResultMap" type="com.idqqtec.dess.pojo.po.TNRelation" >
    <result column="local_id" property="localId" jdbcType="BIGINT" />
    <result column="pair_id" property="pairId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    local_id, pair_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idqqtec.dess.pojo.po.TNRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tn_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.idqqtec.dess.pojo.po.TNRelationExample" >
    delete from tn_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idqqtec.dess.pojo.po.TNRelation" >
    insert into tn_relation (local_id, pair_id)
    values (#{localId,jdbcType=BIGINT}, #{pairId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.idqqtec.dess.pojo.po.TNRelation" >
    insert into tn_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="localId != null" >
        local_id,
      </if>
      <if test="pairId != null" >
        pair_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="localId != null" >
        #{localId,jdbcType=BIGINT},
      </if>
      <if test="pairId != null" >
        #{pairId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idqqtec.dess.pojo.po.TNRelationExample" resultType="java.lang.Integer" >
    select count(*) from tn_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tn_relation
    <set >
      <if test="record.localId != null" >
        local_id = #{record.localId,jdbcType=BIGINT},
      </if>
      <if test="record.pairId != null" >
        pair_id = #{record.pairId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tn_relation
    set local_id = #{record.localId,jdbcType=BIGINT},
      pair_id = #{record.pairId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>